@font-face{
　　font-family: fontello;
　　src: url("../font/fontello.ttf");
}
body {
	background-color: #F2F2F2 !important;
	margin: 0;
	color: #5d727c;
	font-family: "fontello";
}

a {
	color: inherit;
	text-decoration: none;
	cursor: pointer;
	font-family: "fontello";
}


.header {
	width: 100%;
	float: left;
	position: sticky;
	top:0;left:0;
	z-index:999;
}

.layui-nav {
	float: right;
}

.layui-nav {
	padding-right: 0;
}
.logo-box {
	float: left;
	line-height: 60px;
	color: rgba(255,255,255,.7);
	font-weight: 800;
	font-size: 17px;
}

.logo-box:hover {
	color: #fff;
}

.layui-nav-bar {
	display: none;
}

.layui-nav .layui-this:after {
	display: none;
}
.layui-card-header{
	color: #5d727c;
	font-weight: 800;
}
.perfree-content {
	clear: both;
}

.perfree-content-left,
.perfree-content-right {
}

.perfree-content-right {
	padding-left: 10px;
}
.layui-bg-gray{
	margin-bottom: 3px;
}
.carousel-box {
	margin-top: 10px;
}

.article-box {
	margin-top: 10px;
}

.layui-card {
	margin-top: 10px!important;
	margin-bottom: 0px;
}

.layui-card-body {
	padding: 0;
}

.article-box-content {
	padding: 20px 20px 8px 20px!important;
}
.layui-btn-normal {
    background-color: #23b7e5;
}
.article-msg{
	font-size: .7em;
	color: #98a6ad;
}
.article-title {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 1.2em;
}
#page{
	margin-left: 10px;
}
.layui-laypage a, .layui-laypage span{
	margin: 0 -1px 0px 0;
}
#saying{
	font-size: .7em;
	color: #98a6ad;
	margin-top: 5px;
}
.page-title-body{
	padding: 16px;
}
.article-content {
	margin-top: 8px;
	color: #98a6ad;
	font-size: .9em;
}
.search-body{
	padding: 12px;
}
.layui-form-item{
	margin-bottom: 0px;
}
.search-input{
	width: 80%;
	float: left;
}
.search-btn{
	width: 20%;
	float: right;
}
.layui-input, .layui-select, .layui-textarea,.layui-btn{
	border-radius: inherit;
}
.layui-footer{
	clear: both;
	height: 50px;
	line-height: 50px;
	padding-top: 15px;
}
.footer-left{
	float: left;
}
.footer-right{
	float: right;
}
.footer-right a{
	font-size: 18px;
	margin-left: 6px;
}
.hot-article-body{
	padding: 7px 15px 15px 15px;
}
.hot-article-box{
	height: 50px;
    width: 100%;
    display: block;
	margin-top: 8px;
}
.hot-article-box:hover{
	background-color: #eeeeee;
}
.hot-article-img{
	float: left;
}
.hot-article-title{
	line-height: 14px;
    float: left;
    margin-left: 6px;
    font-size: .92em;
    color: #5d727c;
    margin-top: 10px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	width: 75%;
}
.hot-article-msg{
	float: left;
    margin-top: 6px;
    margin-left: 6px;
    font-size: .6em;
    color: #98a6ad;
    line-height: 12px;
    height: 12px;
    display: block;
}
.tag-body{
	padding: 9px 15px 15px 11px;
}
.tag{
	height: 24px;
    line-height: 18px;
    font-size: .6em;
    font-weight: 600;
    padding: 3px 6px 3px 6px;
	margin-left: 4px!important;
	margin-top: 6px!important;
}
.layui-laypage a:hover {
    color: #23b7e5;
}
.layui-laypage a, .layui-laypage span{
	color: #98a6ad;	
}
.perfree-page-box{
	float: none;
	line-height: 50px;
	margin-left: 15px;
}
.page-item{
	list-style: none;
	line-height: 20px;
	padding: 3px 8px 3px 8px;
	min-width: 30px;
	margin-left: -5px;
	border: 1px solid #c3c2c2;
	text-align: center;
	color: #7e7f80;
	font-size: .7em;
}
.page-item:hover{
	color: #23b7e5;
	cursor: pointer;
}
.active{
	background-color: #23b7e5;
	border: 1px solid #23b7e5;
	color: #fff!important;
}
.active:hover{
	color: #fff!important;
}
.disabled{
	border: 1px solid #c3c2c2;
	color: #b0b1b3!important;
}
.disabled:hover{
	cursor:not-allowed!important;
	color: #b0b1b3!important;
}
.login-btn{
	float: left;
	padding: 0 6px!important;
}
.register-btn{
	float: right;
	padding: 0 6px!important;
}
.perfree-hide{
	display: none;
}
.layui-fixbar li {
	width: 40px;
	height: 40px;
	line-height: 40px;
	margin-bottom: 1px;
	text-align: center;
	cursor: pointer;
	font-size: 30px;
	background-color: #ffffff;
	color: #000000;
	border-radius:0px;
	opacity: .95;
}
.layui-fixbar .layui-fixbar-top{
	font-size: 38px;
}
@media screen and (max-width:768px) {
	.perfree-content-right {
		display: none;
	}
}
