/*滚动条整体样式*/
.perfree-article-content pre code::-webkit-scrollbar {
	width: 6px;
	height: 6px;
}
/*滚动条里面小方块*/
.perfree-article-content pre code::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background: #9ea7b4;
}
/*滚动条里面轨道*/
.perfree-article-content pre code::-webkit-scrollbar-track {
	border-radius: 10px;
	background: #d7dde4;
}
.article-title{
	font-weight: initial;
	height: 56px;
	font-size: 1.1em;
	padding: 14px 20px 4px 20px;
}
.article-title h2{
	line-height: 30px;
	font-weight: 600;
}
.article-title p{
	font-size: .8em;
	line-height: 30px;
	color: #98a6ad;
}
.article-body{
	padding: 10px 20px 20px 20px;
}
.perfree-article-content{
	color: #61696d;
	overflow: hidden;
	font-size: 1.1em;
}
.perfree-article-content img{
	width: 100%!important;
	margin-top: 14px;
	margin-bottom: 14px;
}
.hljs ul {
	list-style: decimal!important;
	margin: 0px 0px 0 40px !important;
	padding: 0px!important;
}
.hljs ul li {
	list-style: decimal-leading-zero!important;
	border-left: 1px solid rgb(222, 229, 231) !important;
	padding: 5px!important;
	margin: 0 !important;
	line-height: 14px!important;
	word-break: break-all!important;
	word-wrap: break-word!important;
}
.hljs ul li:nth-of-type(even) {
	color: inherit!important;
}
.perfree-article-content pre{
	font-size: 13px!important;
	line-height: 1.42857143!important;
	word-break: break-all!important;
	word-wrap: break-word!important;
	background-color: #f5f5f5!important;
	width: 100%!important;
	white-space: pre!important;
	margin-top: 14px!important;
	margin-bottom: 14px!important;
}
.perfree-article-content pre code{
	font-family: Menlo,Monaco,Consolas,"Courier New",monospace!important;
}
.perfree-article-content h1{
	font-size: 1.6em;
	font-weight: 600;
	line-height: 55px;
}
.perfree-article-content h2{
	font-size: 1.4em;
	font-weight: 600;
	line-height: 50px;
}
.perfree-article-content h3{
	font-size: 1.3em;
	font-weight: 600;
	line-height: 46px;
}
.perfree-article-content h4{
	font-size: 1.2em;
	font-weight: 600;
	line-height: 42px;
}
.perfree-article-content pre code{
}
.article-content-bottom{
	height: 60px;
	line-height: 60px;
}
.article-content-bottom-left{
	float: left;
	font-size: .7em;
}
.article-content-bottom-right{
	float: right;
}
#commentForm{
	display: block;
	overflow: hidden;
}
.revert-body{
	padding: 10px 20px 20px 20px;
}
.revert-submit{
	margin-top: 10px;
}
.comment-verify{
	height: 38px!important;
	margin-top: 10px;
	border: 1px solid #cecece;
	border-left: none;
	float: right;
}
.captcha{
	width: 200px;
	margin-top: 10px;
	float: right;
	border-right: none;
	height: 40px;
	font-size: 14px;
}
.revert-user{
	width: 100%;
	height: 40px;
}
.revert-user img{
	border-radius: 50%;
	float: left;
}
.revert-content-box{
	margin-top: 10px;
}
.revert-user-msg{
	display: block;
	float: left;
	line-height: initial;
    margin-left: 8px;
}
.revert-user-name{
	font-weight: 600;
	line-height: 20px;
	margin-top: 10px;
	font-size: .8em;
}
.revert-user-time{
	font-size: .5em;
	line-height: 15px;
	color: #949494;
}
.revert-content,.revert-comment-content-box{
	margin-left: 58px;
	font-size: .9em;
}
.revert-comment-content-box{
	margin-top: 10px;
}
.toReply{
	display: -webkit-inline-box;
	margin-left: 50px;
	color: #ffffff;
	background: #23b7e5;
	padding: 0px 5px 0px 5px;
	border-radius: 4px;
	font-size: .7em;
	margin-top: 4px;
}
.phone-yiyan-box{
	display: none;
}
.no-comment{
	margin-top: 10px;
	text-align: center;
	font-size: 13px;
	color: #98a6ad;
}
.switch-article{
	height: 15px;
}
.pre-article,.next-article{
	display: block;
	color: #77778d;
	font-weight: 600;
}
.pre-article i,.next-article i{
	font-weight: 600;
}
.pre-article{
	float: left;
}
.next-article{
	float: right;
}